.header {
  width: 100%;
  height: 64px;
  background-color: white;
  padding: 8px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  font-family: inherit;
}

.nav-link:hover {
  background-color: #0c2bc7;
  color: white;
}
.nav-link.active {
  background-color: #0c2bc7;
  color: white;
}
.logo {
  height: 45px;
  width: auto;
  max-width: 150px;
  object-fit: contain;
  cursor: pointer;
}
