.header {
  width: 100%;
  height: 64px;
  background-color: white;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-link {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

.nav-link:hover {
  background-color: #0c2bc7;
  color: white;
}
.nav-link:hover {
  background-color: #0c2bc7;
  color: white;
}

.logo {
  height: 50px;
  margin-left: 16px;
  cursor: pointer;
}
