@font-face {
  font-family: 'vazirmatn.regular';
  src: url(../../fonts/Vazirmatn/static/Vazirmatn-Regular.ttf);
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: #00000073;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: 520px;
  height: 380px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  color: #242d35;
}

.modal-close {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #9ba1a8;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  color: #242d35;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group label {
  width: 120px;
  margin-bottom: 4px;
  font-weight: 500;
  color: #242d35;
}

.form-group input,
.form-group select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 312px;
  height: 40px;
}

.radio-group {
  display: flex;
  gap: 40px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

.radio-group input[type='radio'] {
  accent-color: #0e33f3;
  width: 18px;
  height: 18px;
  gap: 200px;
}
.modal-actions {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.btn-submit {
  background-color: #0e33f3;
  width: 75px;
  height: 32px;
  color: white;
  border: none;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'vazirmatn.regular';
}

.btn-cancel {
  width: 75px;
  height: 32px;
  background-color: transparent;
  color: #242d35;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'vazirmatn.regular';
}

.btn-cancel:hover {
  background-color: #f5f6f8;
}
