@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash::before {
  content: '\e902';
}

.icon-plus-square-o::before {
  content: '\e900';
}

body {
  direction: rtl;
  text-align: right;
  font-family: 'Vazirmatn-Medium', sans-serif;
  background-color: #dcdfe3;
}
.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}

@media (max-width: 768px) {
  .transaction-table thead {
    display: none;
  }

  .transaction-table tbody tr {
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
  }
}
